name: build
on:
  push:
    branches:
      - loki
permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: sudoswedenab/sudo-actions/ai-review@feature/ai-review-test1
